<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="daybreak">
    <xacro:arg name="sim" default="false" />
    <xacro:property name="sim" value="$(arg sim)" />

    <link name="base_link">

    </link>

    <joint name="chassis_link" type="fixed">
        <parent link="base_link" />
        <child link="chassis" />
    </joint>

    <xacro:include filename="$(find daybreak_robot)/description/inertial_macros.xacro" />
    <xacro:include filename="$(find daybreak_robot)/description/colors.xacro" />

    <xacro:include filename="$(find daybreak_robot)/description/robot_collision.xacro" />
    <xacro:include filename="$(find daybreak_robot)/description/robot.urdf" />
    <xacro:include filename="$(find daybreak_robot)/description/ros2_control_drivetrain.xacro" />
    <xacro:include filename="$(find daybreak_robot)/description/ros2_control_hammer.xacro" />
    <xacro:include filename="$(find daybreak_robot)/description/robot_core.xacro" />

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find daybreak_robot)/config/controllers.yaml</parameters>
            <parameters>$(find daybreak_robot)/config/gaz_ros2_ctl_sim.yaml</parameters>
        </plugin>
    </gazebo>
</robot>