<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="swerve_wheel_control" params="prefix">
        <ros2_control name="${prefix}_wheel_rotate"
            type="${'system' if sim else 'actuator'}">
            <hardware>
                <xacro:if value="${sim}">
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </xacro:if>
                <xacro:unless value="${sim}">
                    <plugin>roborio_bridge/RoboRIOTalonSRX</plugin>
                </xacro:unless>
            </hardware>
            <joint name="chassis_to_wheel_rotate_${prefix}">
                <command_interface name="position" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <transmission name="transmission1">
                <plugin>transmission_interface/SimpleTransmission</plugin>
                <joint name="chassis_to_wheel_rotate_${prefix}"
                    role="chassis_to_wheel_rotate_${prefix}">
                    <mechanical_reduction>${150/7}</mechanical_reduction>
                </joint>
            </transmission>
        </ros2_control>

        <ros2_control name="${prefix}_wheel"
            type="${'system' if sim else 'actuator'}">
            <hardware>
                <xacro:if value="${sim}">
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </xacro:if>
                <xacro:unless value="${sim}">
                    <plugin>roborio_bridge/RoboRIOTalonSRX</plugin>
                </xacro:unless>
            </hardware>
            <joint name="wheel_rotate_${prefix}_to_wheel_spin_${prefix}">
                <command_interface name="velocity" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <transmission name="transmission1">
                <plugin>transmission_interface/SimpleTransmission</plugin>
                <joint name="wheel_rotate_${prefix}_to_wheel_spin_${prefix}"
                    role="wheel_rotate_${prefix}_to_wheel_spin_${prefix}">
                    <mechanical_reduction>6.12</mechanical_reduction>
                </joint>
            </transmission>
        </ros2_control>

        <gazebo reference="wheel_spin_${prefix}">
            <mu1>1.16</mu1>
            <mu2>1.16</mu2>
        </gazebo>
    </xacro:macro>

    <xacro:swerve_wheel_control prefix="fl" />
    <xacro:swerve_wheel_control prefix="fr" />
    <xacro:swerve_wheel_control prefix="bl" />
    <xacro:swerve_wheel_control prefix="br" />
</robot>